{{#each movies}}
  <li class='movies__item' data-id={{this.id}}>
    <h2 class='movies__title'>{{this.title}}</h2>
    <p class='movies__text'>{{this.genre}}</p>
    <p class='movies__description'>
      Directed by
      {{this.director}}
      in
      {{this.year}}. In the genre, this is mainly
      {{this.genre}}
    </p>
    <div class='controls'>
      <button type='button' class='controls__btn edit-btn'>
        <svg width='24' height='24'>
          <use href={{editUrl}}></use>
        </svg></button><button type='button' class='controls__btn delete-btn'>
        <svg width='24' height='24'>
          <use href={{deleteUrl}}></use>
        </svg>
      </button>
    </div>
  </li>
{{/each}}